.articleWrapper {
  padding: 16px;
  padding-left: 20px;
  background-color: white;
  box-shadow: 1px 1px 8px 1px rgba(168, 168, 168, 0.13);
  border-radius: 5px;
  margin-bottom: 24px;
  width: 100%;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.articleDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 72%;

  header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    word-wrap: break-word;

    h5 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 28px;
      margin-right: 8px;
      color: #1890ff;
      max-width: 85%;
      transition: all ease 0.15s;

      &:hover {
        color: #157bdb;
        cursor: pointer;
      }
    }

    button {
      border: none;
      background-color: white;
      color: rgb(151, 151, 151);
    }

    span {
      color: rgb(151, 151, 151);
      font-size: 12px;
    }
  }

  .likesWrapper {
    display: flex;
    align-self: flex-start;
    margin-top: 5px;
  }

  main {
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
    word-break: break-word;
    margin: 0;
  }
}

.tagsWrapper {
  display: flex;
  margin-bottom: 8px;
  font-size: 10px;

  & > div {
    margin-right: 8px;
  }
}

.activeTag {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 16px;
  min-width: 16px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0 2px;
}

.tag {
  border: 1px solid rgb(131, 131, 131);
  border-radius: 2px;
  padding: 2px;
  color: rgb(131, 131, 131);
}

.creatorDescription {
  display: flex;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 16px;

  .articleDate {
    align-items: flex-end;
    inline-size: max-content;
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.name {
  margin: 0;
  padding: 0;
  inline-size: max-content;
}

.articleDate {
  margin-top: 8px;
  color: rgba(94, 94, 94, 0.685);
  font-size: 12px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;

  & > button {
    margin-left: 12px;
  }

  .deleteArticle {
    font-family: 'Inter UI';
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #f5222d;
    border-radius: 5px;
    padding: 4px 12px;
    background-color: white;
    color: #f5222d;
    transition: all ease 0.15s;

    &:hover {
      color: white;
      background-color: #f5222d;
    }

    &:active {
      opacity: 0.75;
    }
  }

  .editArticle {
    font-family: 'Inter UI';
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #52c41a;
    border-radius: 5px;
    padding: 4px 12px;
    background-color: white;
    color: #52c41a;
    transition: all ease 0.15s;

    &:hover {
      color: white;
      background-color: #52c41a;
    }

    &:active {
      opacity: 0.75;
    }
  }
}

.noButton {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 34px;
  height: 24px;
  color: #595959;
  transition: all ease 0.15s;
  margin-right: 8px;

  &:hover {
    color: white;
    background-color: #595959;
  }

  &:active {
    opacity: 0.75;
  }
}

.yesButton {
  background: #1890ff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 24px;
  color: white;
  transition: all ease 0.15s;
  margin-right: 16px;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.55;
  }
}

.deleteModalContainer {
  width: 240px;
  display: flex;
  flex-direction: column;

  .headerContainer {
    display: flex;
  }

  img {
    align-self: flex-start;
    margin: 16px;
  }

  p {
    margin: 0;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .modalButtonsContainer {
    align-self: flex-end;
    margin-bottom: 8px;
  }
}
