.articleWrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-left: 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 120px;
  width: 70%;
}
